<div class="login">
  <h2>Create New Room</h2>
  <div class="input-container">
    <div class="container">
      <div class="material-textfield">
        <input placeholder=" " type="text" class="input1">
        <label>Room Name</label>
    </div>
  </div>
  <div class="input-container">
    <div class="container">
      <div class="material-textfield">
        <input placeholder=" " type="text" class="input1">
        <label>roomID</label>
    </div>
  </div>
  <button class="btn">Create Room</button>
  <p class="or">or</p>
  <button class="btn btn-buttom">Join Existing Room</button>
</div>